/* +++++ GENERAL +++++ */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(238, 237, 237);
    font-family: 'Roboto', sans-serif;
}
/* ----- FINE GENERAL ----- */


/* +++++ HEADER +++++ */
.container-header{
    width: 100vw;
    background-color: white;
    line-height: 9vh;
}

#logo{
    height: 6.5vh;
    margin-left: 2vw;
    vertical-align: middle;
}

header h1{
    font-size: 5vh;
    display: inline-block;
    vertical-align: middle;
    margin-left: .4vw;
}
/* ----- FINE HEADER ----- */



/* +++++ MAIN +++++ */

/* +++ GENERALI MAIN +++ */
hr{
    background: rgb(238, 237, 237);
    border:none;
    height: .2vh;
}

h2{
    display: inline-block;
    font-size: 2.5vh;
    color: rgb(78, 78, 78);
    font-weight: 900;
}

/* Non trovando il simbolo preciso da inserire ho trovato il modo di crearlo graficamente */
.triangolo{
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0px;
    border-top: .8vh solid rgb(78, 78, 78);
    border-left: .6vw solid transparent;
    border-right: .6vw solid transparent;
    margin-right: .3vw;
}

.riga-contenuto{
    line-height: 5vh;
}

.testo{
    font-size: 2vh;
    color: rgb(78, 78, 78);
    font-weight: 400;
    display: inline-block;
    margin-right: .5vw;
    vertical-align: middle;
}

.tic:before{
    content: "\2714";
    color: rgb(23, 211, 101);
    border: 2px solid rgb(23, 211, 101);
    border-radius: 50%;
    margin-right: .8vw;
    padding: .2vh .3vw;
    font-size: 1vh;
    vertical-align: middle;
}

.cross:before{
    content: "\2715";
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    margin-right: .8vw;
    padding: .2vh .3vw;
    font-size: 1vh;
    vertical-align: middle;
}

.etichetta{
    padding: .6vh 1vw;
    font-family: 'Roboto', sans-serif;
    border-radius: 14px;
    vertical-align: middle;
    margin-right: .3vw;
}

.blu{
    color: white;
    background-color: rgb(77, 183, 233);
    border: 2px solid rgb(77, 183, 233);
    border-style: solid;
}
/* --- FINE GENERALI MAIN --- */


/* +++ SEZIONE BUTTON +++ */
.container-pad{
    width: 70vw;
    margin: 5vh auto;
    background-color: white;
    border-radius: 5px;
}

#sezione-button{
    width: 60vw;
    height: 6vh;
    margin: auto;
    line-height: 6vh;
}

.button{
    padding: .8vh 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vh;
    font-weight: 600;
    border-radius: 5px;
    margin-right: .3vw;
}

.ready{
    color: white;
    background-color: rgb(77, 183, 233);
    border: 2px solid rgb(77, 183, 233);
    border-style: solid;
}

.pause{
    color: lightgrey;
    background-color: white;
    border: 2px solid lightgrey;
    border-style: solid;
}
/* --- FINE SEZIONE BUTTON --- */


/* +++ SEZIONE TASK +++ */
#sezione-task{
    width: 60vw;
    margin: auto;
    margin-top: 3vh;
}
/* --- FINE SEZIONE TASK --- */


/* ----- FINE MAIN ----- */